body {
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left :30px;
    margin-right :20px;
    background-color: rgb(167, 245, 136);
    }
h1{
       font-family: "Lucida Handwriting", "Arial", cursiva;
        font-size: 34px;
        color: rgba(12, 136, 158, 0.924);
        position: center;
}
h2{
    
    font-family: "Monaco", "Arial", monospace;
        font-size: 24px;
            color: rgb(235, 136, 190);
}

h3{
    
    font-family: "Monaco", "Arial", monoespace;
        font-size: 20px;
            color: rgb(25, 159, 192);
}
p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
i{		
    width: 50px;
    color: rgb(33, 99, 199) ;
}
#canto {
    background: url(fert.jpg)repeat scroll left top;
    position: fixed;
    top: 2px;
    height: 3000px;
    width: 110px;
    z-index: 100;
    left: 0pt;
 }
#canto2 {
    background: url(fert.jpg)repeat scroll right top;
    position: fixed;
    top: 5px;
    height: 3000px;
    width: 110px;
    z-index: 100;
    left: 0pt;
 }
 